.welcome {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    &__emailInput{
        width: 300px;
        border:2px solid rgb(225, 225, 231)
    }
    &__passwordInput{
        width: 300px;
        border:2px solid rgb(225, 225, 231)
    }
    &__buttonBox{
    width: 300px;
    background-color: rgb(78,79,237);
    color: white;

    }
}






